[Unit]
Description=sake IRC bouncer service
Documentation=https://github.com/TehPeGaSuS/sake
Documentation=man:sake(1) man:sakectl(1)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=sake
Group=sake
DynamicUser=yes
StateDirectory=sake
ConfigurationDirectory=sake
RuntimeDirectory=sake
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/sake
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
